<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% include 'include/header.html' %}

    <div class="search" >
        <form style="display: inline-flex;" action="{% url 'home' %}" method="get">
            <input type="search" name="q" placeholder="Search">
            <input type="submit" value="Поиск">
        </form>
    </div>

    {% block content %}


    {% endblock content %}



</body>

</html>